<ion-view view-title="BUSCAR">
    <ion-content class="padding">
        <div class="list card">
            <a href="#/tab/building" class="item item-icon-left assertive">
                <i class="icon ion-ios-location "></i> Edificios
                <br>Salones
                <br>Oficinas Administrativas
            </a>

            <a href="#/tab/step" class="item item-icon-left positive">
                <i class="icon ion-android-list "></i>
                <br> Procedimientos
                <br>Actividades
                <br>
            </a>

            <a href="#/tab/course" class="item item-icon-left energized">
                <i class="icon ion-university "></i>
                <br>Cursos
                <br>
                <br>
            </a>
        </div>
    </ion-content>
</ion-view>